{% extends "main_template.html" %}
{% block title %}CreateCube{% endblock %}
{% block content %}
    <div style="float: left; padding-top: 18px; padding-left: 20px">
        <form method = "POST">
        {% csrf_token %}
        <button type="submit", value="create">Create Cube</button>
        </form>
    </div>
    <div style="float: left">
    <table>
    <ul>
        Cubes:
        {% for cube in all_cubes %}
        <tl>
            {{ cube.cube_id }},
        </tl>
        {% endfor %}


    </ul>

    </table>

    </div>
{% endblock %}
