<!DOCTYPE html>
{% extends "main_template.html" %}
{% block title %}
piechart
{% endblock %}

{% block content %}
<h1 style="text-align: center; color: white">Time spent on Tasks</h1>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <canvas id="myPieChart"></canvas>
    <script>
    var ctx = document.getElementById('myPieChart').getContext('2d');
    var chart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: {{task_list|safe}},
        datasets: [{
            label: 'time spent on task',
            backgroundColor: ['rgb(255, 99, 132)', 'rgb(255,200,59)', 'rgb(225,255,113)','rgb(241,59,194)','rgb(0,0,128)','rgb(0,255,127)','rgb(255,20,59)','rgb(255,255,59)','rgb(255,200,59)','rgb(55,200,59)',],
            borderColor: 'rgb(255, 99, 132)',
            data: {{time_list}}
        }]
    },

    // Configuration options go here
    options: {}
});
    </script>
{% endblock %}
</html>