{% extends "main_template.html" %}
{% block title %}
    Tasks
{% endblock %}

{% block content %}
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;

}
</style>
<div>
<table>
    <ul>
        {% for s in allTasks %}<tr>
    <td>{{ s.task_name }}</td>
    <td>{{ s.group_name }}</td>
    <td>{{ s.cube_id }}</td>    </tr>
        {% endfor %}
    </ul>
</table>
</div>
<div>
    <table>
    <ul>
        {% for event in allEvents %}
        <tr>
            <td>{{ event.task_name }}</td>
            <td>{{ event.start_time }}</td>
            <td>{{ event.end_time }}</td>
            <td>{{ event.group_name }}</td>
            <td>{{ event.event_id}}</td>
        </tr>
        {% endfor %}
    </ul>
    </table>
</div>
{% endblock %}

